<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Ticket Details</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/submit-ticket">Create your new ticket</a>
        <a href="/track-tickets">Ticket Status</a>
        <a href="/knowledge-base">knowledge-base</a>
        <a href="/logout">Logout</a>
      </nav>
    <h1>Ticket ID: <%= ticket.ticketId %></h1>
    <p>Description: <%= ticket.description %></p>
    <p>Status: <%= ticket.status %></p>
    <p>Created Date: <%= ticket.createdDate %></p>
    <a href="/track-tickets">Back to Ticket List</a>
</body>
</html>
