<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <link rel="stylesheet" href="/styles.css"> <!-- เชื่อมโยง CSS -->
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/tickets/new">New Ticket</a>
        <a href="/logout">Logout</a>
      </nav>
  <h1>Welcome, User!</h1>
  <p>This is your dashboard.</p>
  <a href="/submit-ticket">Create your new ticket</a><br>
  <a href="/track-tickets">Ticket Status</a><br>
  <a href="/knowledge-base">knowledge-base</a>
</body>
</html>
